.criar-proposta {
	width: 500px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	color: #163862;
	border: solid 1px #163862;
}

.criar-proposta h2 {
	font-size: 30px;
	font-weight: 500;
	color: #163862;
	text-align: center;
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.info-partes {
	display: flex;
	flex-direction: row;
}

.form .left,
.form .right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form .left .fonte-energia,
.form .right .submercado {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.dataFim,
.dataInicio {
	width: 100px;
	padding: 5px;
	font-size: 15px;
	text-align: center;
}
.cargas {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}

.fonte_energia,
.sub_mercado,
.dataFim,
.dataInicio {
	color: #163862;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px #163862;
}

.cargas-options {
	margin-top: 10px;
	margin-right: 5px;
}

.cargas-check {
	margin-right: 5px;
}

.btn-cadastro:hover {
	opacity: 0.7;
}
