header {
	width: 100%;
	max-width: 1440px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 18px;
}
header .header--logo img {
	width: 165px;
	height: 60px;
}

header .header--itens {
	display: flex;
	align-items: center;
}
header .logout {
	display: flex;
	align-items: center;
}

a {
	color: #163862;
	text-decoration: none;
	margin: 0 20px;
	font-weight: 500;
	transition: all ease 0.2s;
}
a:hover {
	opacity: 0.7;
}

header .header--logout {
	right: 0;
	padding: 0 15px;
}
