.carga-row {
	display: flex;
	padding: 10px;
	gap: 25px;
	align-items: center;
	justify-content: start;
	background-color: #3485ff;
	margin-bottom: 10px;
	cursor: default;
	width: 100%;
	position: relative;
	border-radius: 5px;
}

.carga {
	display: flex;
	gap: 25px;
	font-size: 18px;
	align-items: start;
}
.nome,
.consumo {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.btn {
	padding: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	right: 0;
	position: absolute;
	margin-right: 5px;
}
